.text-input {
  padding: 5px 10px;
}

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
}

.success {
  color: #fff;
  background-color: #28a745;
}

.success:hover {
  background-color: #218838;
}

.success:active {
  background-color: #1e7e34;
}

.danger {
  color: #fff;
  background-color: #dc3545;
}

.danger:hover {
  background-color: #c82333;
}

.danger:active {
  background-color: #bd2130;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
}

.link {
  color: orange;
  font-weight: bold;
  font-size: 24px;
}

.modal {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 5px;
}
