.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 10px;
  margin: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
}
.link {
  color: orange;
  font-weight: bold;
  font-size: 24px;
}
